<nav>
  <div class="nav-left">
    <div class="logo" (click)="navigateToHome()" [class.active]="isHomeRoute()">
      REAL ESTATE SKOPJE
    </div>
    <div class="favorites" (click)="navigateToFavorites()" [class.active]="isFavoritesRoute()">
      FAVORITES
    </div>
  </div>

  <div class="nav-right" *ngIf="showPagination">
    <button class="pagination-btn" (click)="prevPage()" [disabled]="currentPage === 1">
      <span class="material-symbols-outlined">arrow_back</span>
    </button>
    <span class="page-indicator">Page {{ currentPage }} of {{ totalPages }}</span>
    <button class="pagination-btn" (click)="nextPage()" [disabled]="currentPage === totalPages">
      <span class="material-symbols-outlined">arrow_forward</span>
    </button>
  </div>
  
  
</nav>

<router-outlet></router-outlet>
